<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.suqc.dao.UserDao">

    <select id="queryAgeGroup" resultType="java.util.Map">
        SELECT age,COUNT(1) as cnt
        FROM `user`
        GROUP BY age
    </select>

</mapper>